@model Futurify.Training.Employees.ViewModels.EmployeeViewModel
@{
    
}
<fieldset>
    @*<div class="editor-label">
        @Html.Hidden(model => model.Id)
        @Html.LabelFor(model => model.Name)
    </div>*@
    
    @Html.HiddenFor(m=>m.Id)
    <div class="editor-field">
        @Html.TextAreaFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Address)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Address)
        @Html.ValidationMessageFor(m => m.Address)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Age)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Age)
        @Html.ValidationMessageFor(m => m.Age)
    </div>
</fieldset>